
h1 {
	font-size: 55px;
	font-family: monospace;
}


h2 {
	font-family: monospace;
	text-transform: uppercase;
}


H3 {
	font-family: monospace;
	font-size: 18px;
}


.FirstOL {
	background-color: #a2fca2;
	font-family: monospace;
	font-weight: bold;
}


.SecondOL li {
	font-family: monospace;
	border: 1px solid #41adfa;
}

section h4 {
	font-family: monospace;
	font-size: 18px;
}

section img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

section ul li {
	font-family: monospace;
	letter-spacing: 5px;
}

section p {
	text-align: center;
	font-family: monospace;
}
